/*Style settings*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focu,a:active{outline: none;}

header,footer,nav,section {display: block;}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: -1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a::visited{text-decoration: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit;,font-weight: 400;}
/*end*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Header Style*/
.header {
	width: 100%;
	height: 752px;
	left: 0%;
	top: 0%;
	background: linear-gradient(180deg, #FFFEFE 0%, #AEC48D 100%);
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.item {
	margin-top: 30px;
}

.item a{
	margin-right: 120px;
	font-size: 20px;
	color: #000000;
}

.item a button {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	width: 136px;
	height: 46px;
	border-radius: 30px;
	background: green;
	color: #fff;
}

.item img {
	margin-right: 20px;
}

.content {
	display: flex;
	justify-content: space-evenlya;
	align-items: center;
}

.content h1 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 76px;
	color: #000000;
	margin-left: 200px;
}

.item2 p {
	margin-left: 200px;
}
/*End Header Style*/

/*Style on News*/
.news {
	width: 100%;
	height: 600px;

	background: #AEC48D;
}

.news__title h2 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 57px;
	text-align: center;
	color: #000000;
}

.news__photo {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.news__item {
	text-align: center;
}

/*Kids style*/
.kids {
	width: 100%;
	height: 900px;

	background: #F1F7EB;
}

.kids__photo {
	display: flex;
	justify-content: center;
}

.kids__item img {

}

/*helpus style*/

.helpus {
	width: 100%;
	height: 616.93px;

	background: #F1F7EB;
}

.helpus__block {
	width: 1134.82px;
	height: 455.98px;
	margin-left: 8.5%;
	background: #1A7000;
}

.helpus__block h2 {
	color: #fff;
	padding: 100px 0px 20px 100px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 57px;
}

.helpus__block p {
	margin: 0px 600px 20px 100px;
	text-align: initial;
	font-size: 18px;
	color: #FFFFFF;
}

.helpus__block button {
	width: 145px;
	height: 44px;
	margin: 10px 0px 10px 100px;
	background: #FFDE59;
	border-radius: 40.4533px;
}

.helpus__block img {
	float: right;
	margin-top: 48px;
	margin-right: 100px;
}
/*END style HELP-US*/
/*Fund-Activites Style*/
.fund__activities {
	width: 100%;
	height: 1652.39px;
	background-color: #FFFFFF;
}

.fund__activities h2 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 57px;
	text-align: center;
	color: #000000;
}

.fund__activities__left img {
	float: left;
	margin-left: 50px;
	padding-right: 100px;
}

.fund__activities__left h3 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	margin: 100px 210px 30px 750px;
	padding-top: 50px;
}

.fund__activities__left p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	margin: 40px 210px 40px 750px;
	text-align: left;
}

.fund__activities__left button {
	width: 192px;
	height: 44px;
	background: #1A7000;
	border-radius: 40.4533px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	align-items: center;
	margin-left: 0 auto;
}

.fund__activities__left button:hover {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #333;
}

.fund__activities__right {
	margin-top: 150px;
}

.fund__activities__right img {
	float: right;
	margin-right: 65px;
}

.fund__activities__right h3 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	margin: 50px 100px 0px 0px;
	padding: 40px 50px 40px 100px;
}

.fund__activities__right p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	margin: 0px 850px 30px 100px;
	text-align: left;
}

.fund__activities__right button {
	width: 192px;
	height: 44px;
	background: #1A7000;
	border-radius: 40.4533px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	margin-left: 100px;
}

.fund__activities__right button:hover {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #333;
}
/*END FUND ACTIVITIES STYLE*/