/*Style settings*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focu,a:active{outline: none;}

header,footer,nav,section {display: block;}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: -1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a::visited{text-decoration: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit;,font-weight: 400;}
/*end*/

/*Header Style*/
.header {
	/* Rectangle 305 */

position: absolute;
width: 100%;
height: 752px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #FFFEFE 0%, #AEC48D 100%);
}

.item {
	display: flex;
	justify-content: space-between;
}

.item p a{
	/* Про Фонд */
	width: 77px;
	height: 19px;
	left: calc(50% - 77px/2 - 415.86px);
	top: calc(50% - 19px/2 - 0px);

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	color: #000000;
}

.item p {
	margin-top: 60px;
}

.p2 {
	padding-right: 300px;
}

.item button {
	/* Rectangle 140 */

	width: 161.63px;
	height: 49.39px;

	background: #1A7000;
	border-radius: 50px;
	margin-top: 40px;
}
.item svg{
	margin-top: 60px;
	margin-left: 20px;
	padding: 0px 10px 0px 0px;
	display: inline-block;
}

.img {

}

